@media (max-width:900px){

  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  .navbar nav{
    display:none;
  }

  .digital-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media (max-width:768px){

  .hero-right{
    width:100%;
  }

}

@media (max-width:500px){

  .digital-grid{
    grid-template-columns:1fr;
  }

}